#content {
    margin-top: 5rem !important;
}

/* UTILITIES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav-links a {
    text-decoration: none;
}
.nav-links li {
    list-style: none;
}

/* NAVBAR STYLING STARTS */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: hsl(203, 58%, 46%);
    color: #fff;
    position: fixed;
    width: 100%;
    top: 0%;
    height: 50px;
    z-index:99;
}
.nav-links a {
    color: #fff;
    user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
}
.nav-links a:hover {
    cursor: pointer;
}
.nav-links span{
    user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
}
.nav-links span:hover {
    cursor: pointer;
}
/* LOGO */
.logo {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
.logo img {
    size: 40px;
}
.logo a {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    padding: 5px;
}
.logo span {
    color: #fff;
    border-radius: 5px;
    padding: 5px 14px;
    font-size: 24px;
}
.logo:hover,.logo:active,.logo:focus {
    transition: 0.3s ease;
    background-color: hsl(203, 58%, 40%);
}
/* NAVBAR MENU */
.menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
}
.menu li:hover, .menu li:active, .menu li:focus, .menu li.fake-active{
    background-color: hsl(203, 58%, 40%);
    border-radius: 5px;
    transition: 0.3s ease;
}
.menu li {
    padding: 5px 14px;
}
/* DROPDOWN MENU */
.projects {
    position: relative; 
}
.dropdown {
    background-color: hsl(203, 58%, 46%);
    padding: 0.5em;
    position: absolute; /*WITH RESPECT TO PARENT*/
    display: none;
    border-radius: 8px;
    top: 100%;
    margin: 0 auto;
    right: -50%;
}
.dropdown li + li {
    margin-top: 3px;
}
.dropdown li {
    padding: 0.5em;
    text-align: center;
    width: 10rem;
}
.dropdown li:hover {
    background-color: hsl(203, 58%, 40%);
}
.projects:hover .dropdown, .projects:active .dropdown, .projects:focus .dropdown, .projects.fake-active .dropdown {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: fit-content;
}

/*RESPONSIVE NAVBAR MENU STARTS*/
/* CHECKBOX HACK */
#hamburger input[type=checkbox]{
    display: none;
} 
/*HAMBURGER MENU*/
.hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
}
/* APPLYING MEDIA QUERIES */
@media (max-width: 768px) {
.menu { 
    display:none;
    position: absolute;
    background-color:hsl(203, 58%, 46%);
    right: 0;
    left: 0;
    text-align: center;
    padding: 16px 0;
}

.menu .hover:hover {
    transition: 0.3s ease;
    background-color: hsl(203, 58%, 40%);
}
.menu li + li {
    margin-top: 3px;
}
input[type=checkbox]:checked ~ .menu{
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    row-gap: 0;
}
.hamburger {
    display: block;
    padding: 5px;
    text-align: center;
    border-radius: 7px;
}
.hamburger:hover {
    transition: 0.3s ease;
    background-color: hsl(203, 58%, 40%);
}
.dropdown {
    top: 100%;
}
.dropdown li:hover {
    background-color: hsl(203, 58%, 40%);
}
}

#debug {
    display: none;
}

input[type=checkbox]:checked ~ #debug{
    display: block;
}
