@media (prefers-color-scheme: dark) {
    body {
        background-color: #1a1a1a;
        color-scheme: light dark;
    }
    #content {
        color: white;
    }
    a {
        color: #9E9EFF;
    }
    a::visited {
        color: #D0ADF0;
    }
    a::active {
        color: #ff9e9e;
    }
}
